## Importando um Dataset com Pandas

In [1]:
import pandas as pd

In [6]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [7]:
arquivo = "arquivos/salarios.csv"

In [8]:
df = pd.read_csv(arquivo)

In [9]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [13]:
df["Position Title"].value_counts()

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64

## Manipulando arquivos TXT

In [14]:
texto = "Olá, me chamo Renato e tenho 29 anos."
texto = texto + "Nasci em Lavras-MG, cidade localizada no sul do estado."
texto += "Sou admirador e praticante de esportes!"

In [15]:
print(texto)

Olá, me chamo Renato e tenho 29 anos.Nasci em Lavras-MG, cidade localizada no sul do estado.Sou admirador e praticante de esportes!

In [16]:
import os

In [17]:
#Criando um arquivo

arquivo = open(os.path.join("arquivos/cientista.txt"),"w")    # w = write

In [18]:
#Gravando os dados no arquivo

for palavra in texto.split():
    arquivo.write(palavra + " ")

In [19]:
arquivo.close()

In [20]:
#Lendo o arquivo

arquivo = open("arquivos/cientista.txt", "r")  #read = leitura
conteudo = arquivo.read()
arquivo.close()

print(conteudo)

Olá, me chamo Renato e tenho 29 anos.Nasci em Lavras-MG, cidade localizada no sul do estado.Sou admirador e praticante de esportes!